/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Home_App__StvOh {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: left;
  background-color: #282c34;
}

.Home_AppHeader__L3zki {
  height: 90px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.Home_AppBody__CLw6z {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.Home_form__WClGW {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_input__lGtuX {
  background: #f2f2f2;
}

.Home_formField__to3Sz {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}
.Home_formButton__n5rf4 {
  margin: 10px 0 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #edeae0;
  border-radius: 10px;
  color: black;
}

.Home_link__zuJ_r {
  color: #32de84;
}

.Home_balance___J2HL {
  margin-left: 160px;
  margin-bottom: 30px;
}

